/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    background-size: 100% auto;
    display: [[logodisplay]];
    float: left;
    height: [[logoheight]];
    margin: 0;
    padding: 0;
    width: [[logowidth]];
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    float: right;
}

/* 
    Boton que permite acoplar la columna a la izquierda 
    Deshabilitado
*/
.block_action{
    display:none;
}

/* Footer img logo */
.sitelink a img{
    margin-top: 15px;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
