/* Front page ------------------------------------- */

#fvd-frontpage-summary{
	padding: 30px;
	border-radius: 5px;
	background: #fff;
}
#fvd-frontpage-summary p{
	border-bottom: none;
	padding-bottom: 0 !important;
}

.btn-gotocourse{
	border-color: #f8f8f8;
  	background-color: #f8f8f8;
  	background-image: none;
	color: #bbb;
}
.btn-gotocourse:hover{
	background-color: #fafafa;
	color: #d6251d;
}

/*OPENED*/
#fvd-frontpage-opened-course-list h1{
  margin-bottom: 40px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}
#fvd-frontpage-open-course{
  background-color: #ededed;
}
#fvd-frontpage-open-course .panel-heading{
	min-height:60px;
}
#fvd-frontpage-open-course .panel-heading .panel-title{
	display: inline-flex;
}
#fvd-frontpage-open-course .panel-heading .panel-title .fa{
	margin-right: 10px;
}

/*HISTORY*/
#fvd-frontpage-history-course-list{
	margin-top: 15px;
	padding: 15px;
}
#fvd-frontpage-history-course-list h6 span{
	min-width: 85px;
  	display: inline-block;
}
#fvd-frontpage-history-course-list{
  background-color: #fff;
}
#fvd-frontpage-history-course{
  background-color: #f8f8f8;
}
#fvd-frontpage-history-course-list h1{
  margin-bottom: 40px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}

/*CATALOGO*/
#fvd-catalogo-course-list h1{
  margin-bottom: 40px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}
#fvd-catalogo-course-list .panel-default{
	background-color: #ededed;
}
#fvd-catalogo-course-list .panel-catalog{
	background-color: #ddd;
}
#fvd-catalogo-course-list .panel-catalog h4 a{
	margin-top:-8px;
	margin-right: -12px;
}
#fvd-catalogo-course-list .panel-category-course h4 a{
	margin-top:-8px;
	margin-right: -12px;
}
#fvd-frontpage-content{
  margin:30px;
}
ul.nav.nav-tabs.nav-justified.nav-frontpagetabs li a{
  background-color: #eee;
}
ul.nav.nav-tabs.nav-justified.nav-frontpagetabs li.active a{
  background-color: #fff;
}
.panel-category.panel-catalog > .panel-heading > h4{
	color: #d6251d;
}

/* Catalog page ----------------------------------- */

#fvd-catalogo-course-list{
	padding-top: 15px;
}

#fvd-catalogo-course-list .panel-level1 .btn{
	margin-top: 15px;
}

/* Generic */
.margin-bottom-20{
  margin-bottom:20px;
}
.margin-bottom-30{
  margin-bottom:30px;
}
.margin-bottom-40{
  margin-bottom:40px;
}
.margin-bottom-50{
  margin-bottom:50px;
}


/* awesome fonts */

span.fa {
    font-family: FontAwesome;
    font-size: 1em;
}

span.fa.fa-graduation-cap:before{
    content:"\f19d";
}
span.fa.fa-folder-open:before{
    content:"\f07c";
}
span.fa.fa-book:before{
    content:"\f02d";
}
span.fa.fa-suitcase:before{
    content:"\f0f2";
}
span.fa.fa-briefcase:before{
    content:"\f0b1";
}
span.fa.fa-shopping-cart:before{
    content:"\f07a";
}
span.fa.fa-comments:before{
    content:"\f086";
}
span.fa.fa-question-circle:before{
    content:"\f059";
}
span.fa.fa-clock-o:before{
    content:"\f017";
}





/* THEME HACKS ----------------------------------- */

h5, .h5 {
  font-size: 18px;
}

.block_fvdiamenu.itemcard{
  margin-bottom: 5px;
  padding-bottom: 5px;
}

aside#block-region-side-pre.empty.block-region{
  display: none;
}
