/* Front page ------------------------------------- */

#fvd-frontpage-summary{
	margin:15px;
	padding: 20px;
	border-radius: 5px;	
	background: #fff;
}

#fvd-frontpage-history-course-list{
	margin-top: 15px;
	padding: 15px;
}
#fvd-frontpage-history-course-list h6 span{
	min-width: 85px;
  	display: inline-block;
}


/* Catalog page ----------------------------------- */

#fvd-catalogo-course-list{
	padding: 15px;
}

#fvd-catalogo-course-list .panel-level1 .btn{
	margin-top: 15px;
}

/* awesome fonts */

span.fa {
    font-family: FontAwesome;
    font-size: 1em;
}

span.fa.fa-graduation-cap:before{
    content:"\f19d";
}	
span.fa.fa-folder-open:before{
    content:"\f07c";
}	
span.fa.fa-book:before{
    content:"\f02d";
}	
span.fa.fa-suitcase:before{
    content:"\f0f2";
}
span.fa.fa-briefcase:before{
    content:"\f0b1";
}	
span.fa.fa-shopping-cart:before{
    content:"\f07a";
}	
span.fa.fa-comments:before{
    content:"\f086";
}	
span.fa.fa-question-circle:before{
    content:"\f059";
}
span.fa.fa-clock-o:before{
    content:"\f017";
}	





/* THEME HACKS ----------------------------------- */

h5, .h5 {
  font-size: 18px;
}

.block_fvdiamenu.itemcard{
  margin-bottom: 5px;
  padding-bottom: 5px;
}
