/* Front page ------------------------------------- */

#fvd-frontpage-summary{
	margin:15px;
	padding: 20px;
	border-radius: 5px;	
	background: #fff;
}

#fvd-frontpage-history-course-list{
	margin-top: 15px;
	padding: 15px;
}
#fvd-frontpage-history-course-list h1{

}
#fvd-frontpage-history-course-list table{

}
#fvd-frontpage-history-course-list table p{
	margin-bottom: 0px;
}
#fvd-frontpage-history-course-list table p span{
	min-width: 85px;
  	display: inline-block;
}


/* Catalog page ----------------------------------- */

#fvd-catalogo-course-list{
	padding: 15px;
}

#fvd-catalogo-course-list .panel-level1 .btn{
	margin-top: 15px;
}